<ion-view view-title="Fish">
  <ion-content class="padding">
    <div class ="rightImg">
      <button on-swipe-right="swipe()" on-swipe-left="swipe()" style="background-color: transparent; border-color: transparent;">
        <img ng-src ="img/fishrod.png" style="height: 75%; width:105%; padding-top:10%; padding-left:10%" />
      </button>
    </div>
  </ion-content>
</ion-view>

<!--<ion-view view-title="Fish">-->
  <!--<ion-content class="padding">-->
  <!--<div class ="rightImg"><img ng-src ="img/fishrod.png" style="height: 75%; width:105%; padding-top:10%; padding-left:10%" /></div>-->
  <!--</ion-content>-->
<!--</ion-view>-->
