<ion-view view-title="Home">
 <ion-content class="padding">
  <!--<button class="button button-royal" ng-click="getLocation()">Get Location</button>-->
  <!--&lt;!&ndash;{{lat}}&ndash;&gt;-->
  <!--&lt;!&ndash;{{long}}&ndash;&gt;-->
  <!--{{data}}-->
  <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="d in data.documents" href="#/tab/home/{{d.id}}">
    <img ng-src ={{d.IMG_PRODUCT}} />
    <h1 style="font-size: 150%;">{{d.Name}}</h1>
    <h3>{{d.Discount}}</h3>
    <p>{{d.Expiry_Date}}</p>
   </a>
  </ion-item>

 </ion-content>
</ion-view>
