<ion-view view-title="Promotion">
  <ion-content>
     <!--&lt;!&ndash;{{lat}}&ndash;&gt;-->
    <!--{{data.documents[ID]}}-->
    <!--{{data.documents[ID].Name}}-->

    <div class="list card">

      <!--<div class="item item-avatar">-->
        <!--<img ng-src={{data.documents[ID].IMG_BANNER}}>-->
        <!--<h2>{{data.documents[ID].Name}}</h2>-->
        <!--<p>Nine Inch Nails</p>-->
      <!--</div>-->

      <div class="item item-image">
        <img ng-src={{data.documents[ID].IMG_DETAILED}}>
      </div>

      <!--<a class="item item-icon-left assertive" href="#">-->
        <!--<i class="icon ion-music-note"></i>-->
        <!--Start listening-->
      <!--</a>-->

    </div>
    <button class="button button-full button-positive" ng-click = "save()">
      SAVE COUPON
    </button>
<div class = "bottom-padding"></div>
  </ion-content>
</ion-view>
