<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Saved">
  <ion-content class="padding">
    <ion-item ng-repeat="d in data[0]" href="#/tab/home/{{d.id}}">
      <div class="item item-thumbnail-left item-text-wrap item-divider" style="width: 107%;">
        <img ng-src ={{d.IMG_PRODUCT}} />
        <h1 style="font-size: 150%;">{{d.Name}}</h1>
        <h3>{{d.Discount}}</h3>
        <p>{{d.Expiry_Date}}</p>
      </div>
    </ion-item>
    <div>
      <br>
      <br>
      <img ng-src="img/smallhook.png" style="width:17%; float:right;" ng-click="fish()"  />
    </div>
  </ion-content>
</ion-view>
